language: php

services:
  # - memcached
  # - mongodb
  - mysql
  - postgres
  - rabbitmq
  - redis-server

php:
  - 5.5
  - 5.6
  - 7

env:
  global:
   - BEANSTALK_URL="beanstalk://127.0.0.1:11300?queue=default&timeout=1"
   - MEMORY_URL="memory:///?queue=default&timeout=1"
   - MYSQL_URL="mysql://travis@127.0.0.1:3306/database_name?queue=default&timeout=1"
   - NULL_URL="null:///?queue=default&timeout=1"
   - RABBITMQ_URL="rabbitmq://guest:guest@127.0.0.1:5672/?queue=default&timeout=1" \
   - REDIS_URL="redis://travis@127.0.0.1:6379/0?queue=default&timeout=1"
   - MEMORY_URL="synchronous:///?queue=default&timeout=1"
   - POSTGRES_URL="pgsql://postgres@127.0.0.1:5432/database_name?queue=default"

before_script:
  - sudo apt-get update
  # beanstalkd
  - sudo apt-get install -qq --force-yes beanstalkd
  - sudo beanstalkd -d -l 127.0.0.1 -p 11300

  # mysql
  - mysql -e 'CREATE DATABASE database_name;'
  - mysql database_name < config/schema-mysql.sql

  # postgres
  - psql -c "CREATE DATABASE database_name;" -U postgres;
  - psql -d database_name -f config/schema-pgsql.sql -U postgres;

  # extensions
  - echo "extension = amqp.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = memcache.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  # - echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  # - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

  - composer self-update
  - composer install

script:
  - vendor/bin/phpcs --standard=psr2 src/
  - phpunit
  - vendor/bin/phpmd src/ text cleancode,codesize,controversial,design,naming,unusedcode

after_success:
  - php vendor/bin/coveralls -v
