<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         >
  <testsuites>
    <testsuite name="Dotenv Test Suite">
      <directory suffix=".php">tests/josegonzalez/Queuesadilla</directory>
      <exclude>./tests/josegonzalez/Queuesadilla/TestCase.php</exclude>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="coverage-html" target="build"/>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
  </logging>
  <filter>
    <!-- this is required, even if empty, until
    https://github.com/sebastianbergmann/phpunit/issues/1872
    is resolved -->
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
